<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dfwr.zhuanke.zhuanke">

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MICROPHONE" />
    <uses-permission android:name="android.permission.SMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- 百度地图权限 -->
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- END OF 百度地图定位 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <!-- 友盟分享 -->
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_ADDED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_CHANGED" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_INSTALL" />
    <uses-permission android:name="android.permission.BROADCAST_PACKAGE_REPLACED" />
    <uses-permission android:name="android.permission.RESTART_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <application
        android:vmSafeMode="true"
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity android:name=".mvp.view.activity.GuideActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".mvp.view.activity.LoginActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.CommonWebView"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.BusinessHezuoActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.GoWithDrawActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.BindAlipayActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.BindPhoneActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.PhoneWithDrawActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.RankActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.AttentionWechatNumberActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.MyCodeActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.MyWebView"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.MyStudentListActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.BlackNameActivity"  android:screenOrientation="portrait"/>
        <activity android:name=".mvp.view.activity.TestActivity"  android:screenOrientation="portrait"/>



        <!-- 适配7.0 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.dfwr.zhuanke.zhuanke.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <meta-data
            android:name="UPDATE_APP_KEY"
            android:value="ab55ce55Ac4bcP408cPb8c1Aaeac179c5f6f"/>
       <!-- <provider
            android:name="com.tencent.bugly.beta.utils.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"
                tools:replace="name,resource"/>
        </provider>-->
    </application>
</manifest>